/* Added font of title of website */
@font-face {
  font-family: 'MyFont';
  src: url('fonts/Robot9000-MVxZx.ttf') format('woff2'); 
  }


body, h1, h2, h3, h4, h5, h6, p, ul, ol,li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(255,255,255);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "aside" 
    "footer";

}

/*HEADER*/

header {
  display: grid;
  grid-area: header;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding: 1rem 0;
}

main {
  display: grid;
  grid-area: main; 
  padding: 1rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.title img {
  height: auto;
  margin-right: 10px;
}

.main-bar ul {
  list-style-type: none;
  padding: 0;
}

.main-bar li {
  display: inline;
  margin-right: 20px;
}

.main-bar a {
  text-decoration: none;
  color: #ffffff;
}

.main-bar {
  background-color: #000000;
}

.main-bar a:hover {
  color: rgb(204, 197, 197);
}

/* CONTACT US SECTION*/

.legend fieldset {  
  border: 2px solid #000000;
  border-radius: 5px; 
  padding: 15px;
}

.legend {  
  margin-bottom: 15%;
  margin-top: 10%;
}

.legend legend {
  font-size: 20px; 
  font-weight: bold;
  color: #000000; 
  margin-bottom: 10px;
}

.legend input[type="text"], 
.legend input[type="email"],
.legend input[type="tel"],
.legend input[type="number"],
.legend textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  resize:none;
}

.legend input[type="submit"] { 
  background-color: #000000; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}


.legend input[type="submit"]:hover { 
  background-color: #000000;
}


.legend input[type="submit"]:hover {
  background-color: #292929; 
}

/* footer section */

footer {
  display: grid;
  grid-area: footer; 
  background-color: #1d1d1d;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1;
}

.footer-column {
  flex: 1;
  text-align: left;
  padding: 0 20px;
}
  
footer h2 {
  font-size: 18px;
  margin: 10px 0;
}
  
footer p {
  font-size: 14px;
  margin: 5px 0;
}
  
footer img {
  margin: 5px;
  vertical-align: middle;
}

.footer-links {
  margin-top: 16%;
  margin-left:17%;
  display: grid;
  grid-auto-flow: column; 
  grid-auto-columns: max-content; 
  gap: 10% 
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 0; 
}
  
.footer-links a:hover {
  text-decoration: underline;
}
  
/* categories section in categories.html */

.categories {  
  justify-content: center;
}

.grid3 {
  margin:15%;
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
  gap: 20px;
  list-style: none;
  text-align: center;
  margin-right:5%;
  margin-left:5%;    
}
  
.grid3 li {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15%;
  border: 2px solid #000000;
  transition: transform 0.2s;
}

.grid3 li:hover {
  transform: scale(1.05);   
}

.grid3 li a {
  text-decoration: none;
  color: #847f7f;
}

.grid3 li img {
  padding: 3%;
}

.category img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}


.category a {
  text-decoration: none;
  color: #555;
  font-weight: normal;  
}

.category a:hover {
  text-decoration: none;
  color: #000000;
}

/* main page section */

.introduction { 
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15%;
}


.introduction p {
  font-size: 20px; 
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.title h1 {
  font-family: 'MyFont', sans-serif;
}

/* playstation categories */


.playstation-listings {  
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.grid {
  margin:15%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px;
  list-style: none;
  padding: 0;
}
  
.grid li {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 7%;
}
.grid li h5{
  color:#555;
}

  /* cars category */


.car-listings {  
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.grid2 {
  margin:15%;
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
  gap: 20px;
  list-style: none;
  padding: 0;
}
  
.grid2 li {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 15%;
}

/* ps5 */

/* description of product */


.item {
  margin-top:8%;
  margin-bottom:30%;
  margin-left:10%;
  margin-right:10%;
}


.item div {
  display: flex; 
  align-items: center; 
  
}
.item #views {
  margin-right: 10px; 
  margin-bottom: 18px;
}
.item p {
  margin: 0; 
}

.item img {
  margin-top:2%;
}

/* table customisation of product specs */

.item table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom:8%;
  margin-top:8%;
}

.item th {
  background-color: #f2f2f2;
}

.item th, td { 
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.item .sub-1 { 
  font-weight: bold;
}

.item .sub-2 { 
  color: #3f86d1;
}

.item a{  
  color: #1d1d1d;
}

.item h5{ 
  color: #555;
}

.item #pic{
  border-radius: 10px;
}

.item del{
  color: #a1a0a0;
}

.item .discount{
  background-color: black;
  padding: 5px;
  color: white;
  border-radius: 3px;
}



p {
  font-size: 18px;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#border2 {
  align-items: center;
  border:#000000 solid; 
  border-radius: 10px;
  padding: 10px;
}


/* buy (contact) from seller section */
/* using float we make the button appear next to the text */

#border {
  margin-top: 3%;
  align-items: center;
  border: 2px dashed #007bff; 
  padding: 10px;
}

#buy {
  font-size: 16px;
}

#buy2 {
  background-color: #007bff; 
  color: white; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
    
}


#buy2:hover {
  background-color: #0056b3;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.image-container img {
  display: inline;
  margin: 10px;
  border-radius: 10px;
}

a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
  }
  
a:hover {
  color: rgb(151, 151, 151);
  background-color: transparent;
  text-decoration: underline;
}
  
a:active {
  color: rgb(80, 80, 79);
  background-color: transparent;
  text-decoration: underline;
}

.subcategory a:link {
  color:rgb(80, 80, 79);
}

.subcategory a:hover {
  color: rgb(38, 38, 38);
  background-color: transparent;
  text-decoration: underline;
}
.main-bar .active a{
  color: #a1a0a0;
}
.car-listings a:link{
  color:#292929;
}
.playstation-listings a:link{
  color:#292929;
}
/* Style the about us section */
  
.about_us {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}
  .about_us h1 {
    font-size: 1.5em;
    margin-top: 10px;
}

.about_us h2 {
    font-size: 1.2em;
    margin-top: 20px;
}

.about_us img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

.about_us h3 {
    font-size: 1rem;
    margin: 10px;
}

  
  /* Media Queries for Responsive Design */

  html,body{
    overflow-x: hidden;
  }


  
aside {
  display: grid; 
} 
.left-column {
  background-color: #f2f2f2;
  padding: 20px;
} 

.left-column h2 {
  color: #333;
} 

.left-column p {
  color: #555;
} 

.left-column form {
  margin-top: 15px;
} 

.left-column label {
  margin-top: 20px;
  display: block;
  margin-bottom: 5px;
  color: #333;
} 

.left-column .input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
} 

.left-column button {
  margin-top: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
} 

.left-column button:hover {
  background-color: #292929;
} 


 /* Mobile phones */
  
 @media only screen and (max-width: 600px) {
  body, html {
    width: 100%; 
    margin: 0; 
    padding: 0; 
  }

  header {
    padding: 1rem 0;
  }

  .title, .main-bar {
    width: 100%; 
  }

  .title {
    padding: 0 5%; 
    box-sizing: border-box; 
  }

  .title h1 {
    font-size: 26px;
  }

  .main-bar {
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
    box-sizing: border-box; 
  }

  .main-bar li {
    display: block;
    margin: 10px 0;
  } 

  .grid3 {
    grid-template-columns: repeat(1, minmax(250px, 2fr));
    margin-right: 15%;
  } 
  .grid2 {
    grid-template-columns: repeat(1, minmax(350px, 2fr));
    margin-right: 15%;
  } 
  .grid2 li img{
    width:fit-content;
  } 

  .item #pic {
    margin-top: 2%;
    max-width: 80%;
    height: auto;
    object-fit: contain;
  } 

  .item table{
    font-size: 0.8em;
    max-width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    overflow-wrap: break-word;
  } 

  .footer-container {
    grid-template-columns: 1fr;
  } 

  .footer-links {
    margin-right: 19%;
     
  } 

  .footer-links {
    text-align: center;
    display: block; 
    margin: 10px 0; 
    text-align: center;
  
  } 
}

  
  /* tablets */
  
  @media only screen and (min-width:601px) and (max-width: 1200px) {
    .title {
      padding: 0 5%;
    } 
    body {
      grid-template-columns: 200px 1fr; 
      grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    } 
    .item #pic {
      margin-top: 2%;
      max-width: 80%;
      height: auto;
      object-fit: contain;
    } 
    .main{
      grid-area: main;
    } 
    .aside{
      grid-area: aside;
      background-color: #f2f2f2;
    }
    header,
    footer {
      grid-column: span 2; 
    }  
    
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
    } 
  
    .footer-links {
      text-align: center;
      display: block;
      margin: 10px 0; 
      text-align: center;
    
    } 
  }

  /* desktops */
  @media screen and (min-width: 1201px) {
    .title {
      padding: 0 5%;
    } 
    body {
      grid-template-columns: 200px 1fr 200px; 
      grid-template-areas:
        "header header header"
        "aside main empty" 
        "footer footer footer";
    } 
    body::after{
      content: "";
      grid-area: empty;
      background-color: #f2f2f2;
    } 
    
    .main{
      grid-area: main;
    } 
  
    header,
    footer {
      grid-column: span 3;
    } 
    
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
    } 
  
    .footer-links {
      text-align: center;
      display: block; 
      margin: 10px 0; 
      text-align: center;
    
    } 
    
  }


form {
  max-width: 80%;
  margin-left: 8%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px; /* Adjust the top margin as needed */
  margin-bottom: 20%;
}

/* Additional styles for better appearance */
label {
  display: block;
  margin-bottom: 8px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #313331;
}
/* align the auth buttons */
.auth-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.auth-button {
  margin-left: 10px;
  padding: 8px 12px; /* Adjust padding for height and width */
  font-size: 14px; /* Adjust font size */
  text-decoration: none;
  color: #fff;
  background-color: #494a4a;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
/*when button is active change it to grey*/
.auth-button.active {
  color: #a1a0a0;
}

/* Style for each label and checkbox */
.checkbox-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox-option { /* style each checkbox to be alligned with the text they represent */
  display: flex;
  margin-left: 10px;
  margin-bottom: 5px;
}

.checkbox-option label { /*add margin to the labels for the checkboxes*/
  margin-left: 5px;
  min-width: 100px;
}

#questionaire_title { /* style the title of the questionaire */
  text-align: center;
}

#field1,#field2 { /* remove borders from fieldsets */
  border:0 none;
}

#field1 {  /* margin the field 1 */
  margin-top: 5px;
  margin-bottom: 10%;
}

#field2 details p{ /* style the text inside the details in the questionaire*/
  margin-bottom: 30px;
}

#field2 details { /* style the details in the questionaire */
  margin-bottom: 30px;
}

#field2 summary { /* style the summary in the questionaire */
  cursor: pointer;
  text-align: center;
}

#field2 input{ /* style each input box of the questionaire */
  border: 1px solid black;
  border-radius: 4px;
  display: block;
  width: 100%;
}

#field3 {  /* style contact methods container */
  margin-top: 30px;
  border-radius: 7px;
  border-color: #847f7f;
}

#field4-legend{ /* style the title of the registration form */
  
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#field4 { /* remove borders from field4 */
  border:0 none;
}

.form-control{ /* add margin to each form control */
  margin-bottom: 10px;
  position: relative;
}

.form-control label{ /* style each form label */
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input{  /* style each input box for a better border */
  border: 1px solid black;
  border-radius: 4px;
  display: block;
  width: 100%;
}
.form-control i{ /* make the icons invisible for incorrect and correct input */
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 33px;
}

.form-control small{ /* make error messages in each label invisible and align them*/
  visibility: hidden;
  position: relative;
  bottom: 0;
  left: 0;
}

.form-control.success input{  /* style the input box when it is correct */
  border-color: #2ecc71; 
}

.form-control.error input{  /* style the input box when it is incorrect */
  border-color: #e74c3c; 
}

.form-control.success i.fa-check-circle{ /* style the check icon when the input box is correct */
  color: #2ecc71;
  visibility: visible;
}


.form-control.error i.fa-exclamation-circle{ /* style the exclamation icon when the input box is incorrect */
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small{ /* make error messages in each label visible */
  color: #e74c3c;
  visibility: visible;
}

input[type="submit"] {   /* style the submit button (Υποβολη) */
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover { /* style the submit button (Υποβολη) when hovering */
  background-color: #313331; 
}